DB_URL = mongodb://localhost:27017/usermanagementbackend
# DB_URL = mongodb://host.docker.internal:27017/usermanagementbackend #host.docker.internal resolves to localhost:27017, so this can used to connect with localhost server in case you forgot to pass env value while creating docker 
#redis://
REDIS_URL = redis://default:redispw@host.docker.internal:6379 #host.docker.internal resolves to localhost:27017, so this can used to connect with localhost server in case you forgot to pass env value while creating docker 
PORT=3000
REFRESHTOKEN_SECRET= youSecret
ACCESSTOKEN_SECRET= yourAnotherSecret

GOOGLE_CLIENT_ID= avc
GOOGLE_CLIENT_SECRET=  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
REDIRECT_URI=http://localhost:3000/auth/callback